.hero {
    @apply flex items-center justify-center text-center min-h-screen bg-cover bg-center bg-no-repeat relative;
}

.hero::after {
    @apply block absolute top-0 right-0 w-full h-screen;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(#333 30%, transparent 31%), radial-gradient(#333 30%, transparent 31%);
    background-size: 8px 8px;
    background-position: 0 0, 4px 4px;
}

.full-name {
    font-size: 5rem;
    line-height: 5rem;
}

.profile-name-line {
    height: 1px;
    width: 70px;
    background-color: white;
}
